.Para1{
	color: red;
	text-align: center;
	border-color: blue;
	border margin: 4px;
	border-padding:2px;
	border-style: solid;
}

#Para2{
	background-color: black;
	text-align: left;
	color: white;
	border-radius: 10px;
	border margin: 4px;
	padding:20px;
}

#Para3{
	color: #ffcc00;
}

a{
	color:blue;
}
a:hover{
	color:orange;
}
a:visited{
	color:green;
}